{
    "door-id": "1234",
    "mqtt": {
        "client_kwargs": {
            "transport": "tcp"
        },
        "password_auth": {
            "username": "test",
            "password": "test"
        },
        "server_kwargs": {
            "host": "127.0.0.1",
            "port": 8001,
            "keepalive": 10
        },
        "tls": false
    }
}
