[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
door-manager = { path=".", editable=true }
[dev-packages]
rshell = "*" # for interacting with micropython

[requires]
python_version = "3"
