[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
decorated-paho-mqtt = "*"
docopt = "*"
"rpi.gpio" = "*"
pyserial = "*"
rshell = "*"

[dev-packages]

[requires]
python_version = "3"
